<div class="container">
  <h2>მომხმარებლების სია</h2>

  <input
    type="text"
    [(ngModel)]="searchQuery"
    (input)="searchUsers()"
    placeholder="ძებნა სახელით, გვარით ან მეილით..."
  />

  <table>
    <thead>
      <tr>
        <th>სახელი</th>
        <th>ელ. ფოსტა</th>
        <th>ტელეფონი</th>
        <th>კომპანია</th>
        <th>პოსტები</th>
        <th>TODO</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.company.name }}</td>
        <td>
          <button class="btn" (click)="goToPosts(user.id)">პოსტები</button>
        </td>
        <td>
          <button class="btn-secondary" (click)="goToTodos(user.id)">TODO</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
